.App {
  text-align: center;
}
.student-name{
  margin: 5px;
  border: 1px solid black;
  width: 250px;
  border-radius: 10px;
}
.student-card{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  margin: 12px;

}

